<!DOCTYPE html>
<html>
<head>
  <title>Flickr</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= flash[:notice] %>
<%= yield %>
<p>
  <%= link_to "Add a New Photo", new_photo_path %>
</p>

</body>
</html>
